/* Empty. Add your own CSS if you like */

 .card-background-page img {
    width: 50%;
  }

  .card-background-page ion-card {
    position: relative;
    text-align: center;
  }

  .card-background-page .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-background-page .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

.icon-settings {
    color: blue;
    font-size: 40px;
    position: absolute;
}
.center{
     text-align:center;
}