<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Emotion Graph">
  <ion-content class="padding">
    {{emotions | json}}
    <img src="img/happy.jpg" style="width:90%;margin-top:50px;" ng-if="state == 'happy'"/>
    
    <img src="img/sad.jpeg" style="width:90%;margin-top:50px;" ng-if="state == 'sad'"/>

    <img src="img/neutral.png" style="width:90%;margin-top:50px;" ng-if="state == 'neutral'"/>

    
  </ion-content>
</ion-view>
