<ion-view view-title="Actions">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Action Name" required ng-model="action.name">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Select Action
            </div>
            <select ng-model="action.targetAction" ng-change="updateImage()">
              <option value="callNumber">Call a Number</option>
              <option value="showImage">Play Video</option>
              <option value="showFeeling">How I am feeling</option>
            </select>
          </label>

          <label class="item center" style="text-align:center;">
            <img src="{{action.face}}" style="width:50%;"/> <br/> <br/>
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="addAction()">Add Action</button>
  </ion-content>

</ion-view>
