<ion-view view-title="Edit Actions">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Action Name" ng-model="selectedAction.name">
          </label>
          <label class="item item-input item-select">
            <div class="input-label">
              Select Action
            </div>
            <select ng-model="selectedAction.targetAction" ng-change="updateImage()">
              <option value="callNumber">Call a Number</option>
              <option value="showImage">Show an Image</option>
              <option value="showFeeling">How I am feeling</option>
            </select>
          </label>

          <label class="item center" style="text-align:center;">
            <img src="{{selectedAction.face}}" style="width:50%;"/> <br/> <br/>
          </label>

          <label class="item center" style="text-align:center;">
              <button class="button button-balanced center " ng-click="uploadImage()">Change Action Image</button>
          </label>
      </div>
      <button class="button button-block button-stable" ng-click="addAction()">Update Action</button>
      <button class="button button-block button-stable" ng-click="addAction()">Delete Action</button>
  </ion-content>

</ion-view>
