<ion-view view-title="Your Actions">
  <ion-content class="card-background-page">

<div class = "row row-wrap">
   <div ng-repeat="act in actions" class = "col-50" style="padding:5px;" ng-click="takeAction(act);">
     <div style="border:solid 1px #ccc; padding:5px;">
      <a ng-click="editAction(act);$event.stopPropagation();" ><i class="icon ion-ios-gear icon-settings"></i></a> 
      <img src="{{act.face}}" style="width:100%; height:160px;">
      <div style="text-align:center;padding:3px;">{{act.name}}

      </div>
    </div>
   </div>
   
</div>

</ion-content>
</ion-view>
