<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-controller="tabsController">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-pulse-strong" icon-on="ion-ios-pulse-strong" ng-click="getDashboard();">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Actions" icon-off="ion-information-circled" icon-on="ion-information-circled" href="#/tab/actions">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
